<div style="text-align: center;">

<h2>¿Que desea hacer?</h2></br></br></br>

<%= link_to disponibles_url(@id) do %>
<button type="button" class="btn-lg  btn-primary" >Escoger una practica en el sistema</button>
<%end%>
<%= link_to nueva_oferta3_url(@id) do %>
<button type="button" class="btn-lg  btn-primary" >Escoger un practica propia</button>
<%end%>
</div>
