<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Nuevo <small>Profesional Guia</small></h1>
  
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Nuevo</li>
      </ol>
    </section>
  <% end %>
<%= render 'form2' %>