<h1> MOSTRAR DE CONVENIOS </h1>
<h4> NOMBRE </h4>
<%= @convenios.nombre %>
<h4> FECHA DE INICIO </h4>
<%= @convenios.fecha_inicio %>
<h4> FECHA DE TERMINO </h4>
<%= @convenios.fecha_termino %>
<h4> DESCRIPCION </h4>
<%= @convenios.descripcion %>
