<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Bienvenido <%= current_user.nombre %><small></small></h1>
    </section>
  <% end %>
  
  <section class="content invoice">
  
    <div class="row">
        <% if current_user.role.nombre == "admin"%>
        
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">  
                  <h1><strong><%= @alumonos = Alumno.count %></strong> Alumnos</h1> 
                  <label>En el sistema</label>
                </div> 
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="../alumnos_sin_asignar" class="small-box-footer">Mas informaci贸n<i class="fa fa-chevron-right"></i></a>
            </div>
        </div>	


        <% end %>


        <% if current_user.role.nombre == "profesorguia"%>
        
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                  <h1>Revisa tus alumnos</h1> 
                  <label>En el sistema</label>
                </div> 
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="../alumnos" class="small-box-footer">Mas informaci贸n<i class="fa fa-chevron-right"></i></a>
            </div>
        </div> 

        

        <% end %>

        <% if current_user.role.nombre == "secretaria"%>
        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <h2>Practicas</h2>
                    <p>Revisar ofertas</p>
                </div> 
                <div class="icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                <a href="../ver_actuales" class="small-box-footer">Mas informaci贸n<i class="fa fa-chevron-right"></i></a>
            </div>
        </div> 
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">  
                  <h1>Alumnos</h1> 
                  <label>Revisa pendientes</label>
                </div> 
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="../Apendientes" class="small-box-footer">Mas informaci贸n<i class="fa fa-chevron-right"></i></a>
            </div>
        </div>	

        <% end %>

    </div>
  
  </section>

