<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Mostrando <small>Areas</small></h1>
  
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Areas", areas_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
  <% end %>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="pull-right">
              <%= link_to editar_area_path(@areas), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Editar
              <% end %>          
            </div>
            <div class="panel-body">
              <dt>Nombre area:</dt>
              <dd><%= @areas.nombre %></dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>