<% content_for :content_header  do %>
  <section class="content-header">
  
 
<h2>Edit user</h2>

<%= render 'form' %>


<%= link_to 'Todos los usuarios', user_path , :class => "btn btn-info" %>
  </section>
<% end %>


