<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Nueva <small>Venta</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  
      <li class="active">Nueva</li>
    </ol>
    <h2>Sign up</h2>

  </section>
<% end %>

<%= render 'form' %>
