<div style="text-align: center;">

<h2>¿Que tipo de practica desea ingresar?</h2></br></br></br>

<%= link_to nuevo_convenio_url(@id) do %>
<button type="button" class="btn btn-lg  btn-primary" >Con convenio</button>
<% end %>
<%= link_to nueva_area_url(@id) do %>
<button type="button" class="btn btn-lg  btn-primary" >Sin convenio</button>
<% end %>
</div>
