<h1>AREAS DE PRACTICA</h1>
<table border="1">
<tr>
	<th>NOMBRE</th>
</tr>
<% @herramientas.each do |f| %>
<tr>
	<td><%= f.nombre %></td>
	<td><%= link_to 'MOSTRAR', herramienta_url(f) %></td>
	<td><%= link_to 'EDITAR', herramientum_url(f) %></td>
	<td><%= link_to 'ELIMINAR', eliminar_herramienta_path(f),
                method: :delete,
                data: {confirm: '¿Estas seguro?'} %></td>
</tr>
<% end %>
